{% extends "base.html" %}

{% block header %}
{% comment %} <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_description').summernote({
            height: 300
        });
    }); {% endcomment %}
</script>
{% endblock %}

{% block contents %}
{{ notice.content | safe }}

<div class="row mt-5">
    <div class="col-12 text-center">
        <h1>상품 생성하기</h1>
    </div>
</div>
<div class="row mt-1">
    <div class="col-12">
        {{ error }}
        <!-- views.py 에서 res_data를 통해 전달 받을 변수를 중괄호 두개()를 통해 사용 -->
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            {% for field in form %}
                <div class="form-group mb-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.name == 'description' %}
                    {{ field }}
                    {% else %}
                    <input type="{{ field.field.widget.input_type}}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}"/>
                    {% endif %}
                </div>
            {% if field.errors %}
            <span style="color: red;"> {{ field.errors }}</span>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">상품 생성</button>
        </form>
    </div>
</div>
{% endblock %}